LogicApp/LogicAppEmail.json
{
    "$connections": {
        "value": {
            "dynamicscrmonline": {
                "connectionId": "/subscriptions/1b6a0f9d-fe70-4fb5-ae24-5b615270aebe/resourceGroups/DUMBDUMBTHREE/providers/Microsoft.Web/connections/dynamicscrmonline",
                "connectionName": "dynamicscrmonline",
                "id": "/subscriptions/1b6a0f9d-fe70-4fb5-ae24-5b615270aebe/providers/Microsoft.Web/locations/centralus/managedApis/dynamicscrmonline"
            },
            "office365": {
                "connectionId": "/subscriptions/1b6a0f9d-fe70-4fb5-ae24-5b615270aebe/resourceGroups/DUMBDUMBTHREE/providers/Microsoft.Web/connections/office365",
                "connectionName": "office365",
                "id": "/subscriptions/1b6a0f9d-fe70-4fb5-ae24-5b615270aebe/providers/Microsoft.Web/locations/centralus/managedApis/office365"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Create_HTML_table": {
                        "inputs": {
                            "format": "HTML",
                            "from": "@body('HTTP')"
                        },
                        "runAfter": {},
                        "type": "Table"
                    },
                    "Send_an_email": {
                        "inputs": {
                            "body": {
                                "Body": "<!DOCTYPE html>\n<html>\n<body style=\"background-color: whitesmoke; color: #454545; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-bottom: 3em;\">\n  <table style=\"width:100%; color:#454545\">\n    <tr>\n      <td style=\"width:11em;\">\n        <img style=\"margin-left:1em;\" src=\"https://serverlessoh.azureedge.net/public/ice-cream-2202561_320-circle.jpg\"\n          height=\"160\" width=\"160\" alt=\"Fruit Ice Cream\">\n      </td>\n      <td>\n        <p style=\"font-style: italic; font-size: 50px;  font-weight:600; margin-left: 1em;\">Best For You Organics</p>\n      </td>\n    </tr>\n  </table>\n  <p style=\"text-align: center; font-style: italic; font-size: 80px;\">New Ice Cream Line!</p>\n  <p style=\"margin:2em 0em; font-size: 20px; text-align: center;\">Best For You Organics have a new line of fruit flavored ice creams. Below is the information so you can start the ordering process:\n  </p>\n  <table style=\"width:100%; border-top: 1px solid #454545; border-bottom: 1px solid #454545; color:#454545; padding: 1em; font-size: 20px;\">\n    <thead>\n      <tr>\n        <th style=\"padding-bottom: 1em;\" align=\"left\">Ice Cream</th>\n        <th style=\"padding-bottom: 1em;\" align=\"left\">Description</th>\n        <th style=\"padding-bottom: 1em;\" align=\"left\">Product ID</th>\n      </tr>\n    </thead>\n    <tbody style=\"font-size: 16px;\">\n      <!-- LOOP THROUGH EACH PRODUCT HERE AND CREATE A TABLE ROW ENTRY FOR EACH -->\n@{body('Create_HTML_table')}\n    </tbody>\n  </table>\n  <p style=\"text-align: center; margin-top: 3em;font-size: 20px;\">Please contact your representative at Best For You Organics to get more information..</p>\n</body>\n</html>",
                                "IsHtml": true,
                                "Subject": "Tim Team",
                                "To": "@items('For_each')?['emailaddress1']"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Mail"
                        },
                        "runAfter": {
                            "Create_HTML_table": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('List_records')?['value']",
                "runAfter": {
                    "List_records": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://dumbdumbthree.azurewebsites.net/api/GetProducts"
                },
                "runAfter": {},
                "type": "Http"
            },
            "List_records": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('org8c0a8080.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items"
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
}